absl-py==1.4.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1730767847981/work
anndata==0.8.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.1.0
async-timeout==4.0.2
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.35.51
botocore==1.35.51
bravado==11.0.3
bravado-core==6.1.1
cached-property==1.5.2
cachetools==5.5.0
captum==0.7.0
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==2.1.1
chex==0.1.6
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog @ file:///home/conda/feedstock_root/build_artifacts/colorlog_1730249771744/work
comet-ml==3.47.4
configobj==5.0.9
contextlib2==21.6.0
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
docrep==0.3.2
dulwich==0.22.4
et-xmlfile==1.1.0
etils==1.0.0
everett==3.1.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.16.1
flax==0.6.5
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
gensim==4.0.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
google-auth-oauthlib==1.0.0
googledrivedownloader==0.4
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1703201588965/work
grpcio==1.67.1
h5py==3.8.0
idna==3.10
importlib-metadata==5.1.0
importlib-resources==5.10.2
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.7.2
isoduration==20.11.0
jax==0.4.3
jaxlib==0.4.3
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.1.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
Jvis-learn==0.0.12
kiwisolver==1.4.4
lightning==2.3.3
lightning-utilities==0.11.9
llvmlite==0.39.1
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1715711344987/work
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
ml-collections==0.1.1
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
mudata==0.2.1
multidict==6.0.4
multipledispatch==0.6.0
natsort==8.2.0
nbclassic==0.4.8
nbclient==0.7.1
nbconvert==7.2.5
nbformat==5.7.0
neptune-client==0.15.2
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.24.2
numpyro==0.11.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.20.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
openpyxl==3.1.0
opt-einsum==3.3.0
optax==0.1.4
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1739496942095/work
orbax==0.1.1
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.4
prometheus-client==0.15.0
prompt-toolkit==3.0.33
protobuf==5.28.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pyDeprecate==0.3.1
Pygments==2.14.0
PyJWT==2.9.0
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.4
python-box==6.1.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytorch-lightning==2.4.0
pytz==2022.7.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
rdflib==7.1.1
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.3
scikit-learn==0.24.2
scipy==1.10.0
scvi-tools==0.20.0
semantic-version==2.10.0
Send2Trash==1.8.0
sentry-sdk==2.19.2
simplejson==3.19.3
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1722927077938/work
stack-data==0.6.2
swagger-spec-validator==3.0.4
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorstore==0.1.31
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
toolz==0.12.0
torch==2.4.1+cu118
torch-cluster==1.5.9
torch-geometric==2.6.1
torch-scatter==2.1.2+pt20cu118
torch-sparse==0.6.18+pt20cu118
torch-spline-conv==1.2.1
torchaudio==2.4.1+cu118
torchmetrics==1.5.2
torchvision==0.19.1+cu118
tornado==6.2
tqdm==4.66.6
traitlets==5.5.0
triton==3.0.0
types-python-dateutil==2.9.0.20241003
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
uri-template==1.3.0
urllib3==1.26.20
wcwidth==0.2.5
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.0.6
widgetsnbextension==4.0.3
wrapt==1.16.0
wurlitzer==3.1.1
yacs==0.1.8
yarl==1.8.2
zipp==3.12.1
